<p> Ask </p>

<%= @ask.user_id %>
<%= @ask.stock_id %>
<%= @ask.number_of_stocks %>
<%= @ask.price %>
<br />

<% 
check = @bid.where(stock_id: @ask.stock_id).where(price: @ask.price).where.not(user_id: current_user.id)[0]
notice = ""
form = ""
if check != nil
    notice = "Congrats! Someone is buying."
    form = render 'useraskTransaction', transaction: @transaction, ask: @ask, bid: @bid
else
end
%>
----<br />
<%= notice %>
<%= form %>