<%
user_first = current_user.name
user_sur = current_user.surname
user_first_i = user_first.chars.first
user_sur_i = user_sur.chars.first
join_date_month = current_user.created_at.to_date.strftime("%B")
join_date_year = current_user.created_at.year
%>

<div class="flex container bg-gray-900 w-11/12 my-1.5 p-2.5 mx-auto h-40 text-white flex-wrap content-center">
    <div class="bg-green-900 mt-2 text-white p-1.5 w-28 h-28 font-bold text-gray-50 rounded-full flex items-center justify-center font-mono text-5xl"><%=user_first_i%><%=user_sur_i%></div>
    <div class="w-8/12 mx-3 p-2"><span class="text-3xl"><%=user_first%> <%=user_sur%> | <%=current_user.email%></span><br /><span class="text-xl">Stocks: <%=current_user.owned_stocks.sum(:number_of_stocks)%> • Balance: USD <%=current_user.balance%></span><br /><span class="text-xm">Joined <%=join_date_month%> <%=join_date_year%></span><br /><span class="text-xs"> Regular Trader</span></div>
</div>

<div class="container flex w-11/12 mx-auto overflow-scroll">
    <div class="bg-gray-800 text-white p-1.5 w-2/12 text-xs text-left rounded-t-md"><%= link_to "My Stocks", "/trader" %></div>
    <div class="bg-green-700 text-white p-1.5 w-2/12 text-xs text-left rounded-t-md"><%= link_to "My Transactions", "/history" %></div>
</div>
<div class="container w-11/12 mx-auto h-9">
    <div class="flex ...">
        <div class="bg-green-900 h-9 text-white p-1.5 w-1/6">Date</div>
        <div class="bg-green-900 h-9 text-white p-1.5 w-1/6">With</div>
        <div class="bg-green-900 h-9 text-white p-1.5 w-1/6">Stock</div>
        <div class="bg-green-900 h-9 text-white p-1.5 w-1/6">No. of Stocks</div>
        <div class="bg-green-900 h-9 text-white p-1.5 w-1/6">Price</div>
        <div class="bg-green-900 h-9 text-white p-1.5 w-1/6">Change in Balance</div>
    </div>      
</div>
<div class="container w-11/12 mx-auto h-96 mx-auto overflow-scroll">
    <% @transaction_history.each do |transaction| %>
        <%
            transaction_specific = Transaction.where(id: transaction.transaction_id)[0]
            transaction_stock = Stock.where(id: transaction.stock_id)[0].name
            transaction_partner_id = 0
            if transaction_specific.seller_id == transaction.user_id
                transaction_partner_id = transaction_specific.buyer_id
            elsif transaction_specific.buyer_id == transaction.user_id
                transaction_partner_id = transaction_specific.seller_id
            end
            transaction_partner = "hello"
            if transaction_partner_id == nil
                transaction_partner = Stock.where(id: transaction.stock_id)[0].symbol
            else
                transaction_partner = User.find(transaction_partner_id).name + " " + User.find(transaction_partner_id).surname
            end
            balance_change = transaction.price * transaction.number_of_stocks
        %>
    <div class="flex ...">
        <div class="bg-green-800 hover:text-green-100 hover:underline h-9 text-white p-1.5 w-1/6"><%= transaction.created_at.to_date%> <%= transaction.created_at.in_time_zone('Hong Kong').strftime("%I:%M%p")%></div>
        <div class="bg-green-800 hover:text-green-100 h-9 text-white p-1.5 w-1/6"><%= transaction_partner %></div>
        <div class="bg-green-800 hover:text-green-100 h-9 text-white p-1.5 w-1/6"><%= transaction_stock %></div>
        <div class="bg-green-800 hover:text-green-100 h-9 text-white p-1.5 w-1/6"><%= transaction.number_of_stocks %></div>
        <div class="bg-green-800 hover:text-green-100 h-9 text-white p-1.5 w-1/6">USD <%= transaction.price %></div>
        <div class="bg-green-800 hover:text-green-100 h-9 text-white p-1.5 w-1/6">USD <%= balance_change %></div>
    </div>     
    <% end %> 
</div> 