<% 
number_stocks_notice = ""
ask_stocks = @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].number_of_stocks
bid_stocks = @bid.number_of_stocks
number_of_stocks_available = 0
if ask_stocks >= bid_stocks
    number_of_stocks_available = bid_stocks
elsif ask_stocks < bid_stocks
    number_of_stocks_available = ask_stocks
    number_stocks_notice = " (The seller does not have enough stocks.)"
else
end
%>

<div class="bg-green-800 p-1.5 h-64">
Somebody is asking at your price!<br />Complete the transaction.<br />
<span class="text-xs">NUMBER OF STOCKS: <%= number_of_stocks_available %><%= number_stocks_notice %></span><br />
<span class="text-xs">PRICE: USD <%=number_with_precision(@ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].price.to_i, precision: 2) %>
</span>
<%= form_with model: @transaction do |f| %>  
    <%= f.hidden_field :buyer_id, value: current_user.id %>
    <%= f.hidden_field :seller_id, value: @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].user_id %>
    <%= f.hidden_field :stock_id, value: @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].stock_id %>
    <%= f.hidden_field :price, value: @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].price %>
    <%= f.hidden_field :number_of_stocks, value: number_of_stocks_available %>

    <%= f.fields_for :user_transactions do |ut_f| %>
      <%= ut_f.hidden_field :user_id, value: current_user.id %>
      <%= ut_f.hidden_field :stock_id, value: @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].stock_id %>
      <%= ut_f.hidden_field :number_of_stocks, value: number_of_stocks_available %>
      <%= ut_f.hidden_field :price, value: @bid.price %>
    <% end %>
    <%= f.fields_for :user_transactions do |ut_f| %>
        <%= ut_f.hidden_field :user_id, value: @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].user_id %>
        <%= ut_f.hidden_field :stock_id, value: @ask.where(stock_id: @bid.stock_id).where(price: @bid.price)[0].stock_id %>
        <%= ut_f.hidden_field :number_of_stocks, value: -number_of_stocks_available %>
        <%= ut_f.hidden_field :price, value: @bid.price %>
    <% end %>    
</div>
<div class="bg-green-800 p-1.5 h-8">
    <div class="bg-green-600 rounded-full text-white text-xs text-center">   
    <%= f.submit "Complete Transaction" %>
    </div>
</div>
<% end %>