<%
ask_notice_avail = ""
total_stocks = 0
avail_stocks = 0
find_user = User.find(current_user.id).owned_stocks.where(stock_id: Stock.where(symbol: @stock.symbol)[0].id)[0]
if find_user != nil
    total_stocks = find_user.number_of_stocks
    avail_stocks = total_stocks - Ask.where(user_id: current_user.id).where(stock_id: Stock.where(symbol: @stock.symbol)[0].id).sum(:number_of_stocks)
    if total_stocks <= 0
        total_stocks = 0
        avail_stocks = 0
    end
end
%>

<div class="bg-gray-700 w-full mx-auto h-80 text-white">
<div class="bg-purple-900 w-full p-2.5 mx-auto h-40 text-white">
<span class="text-purple-200">ASKS FORM</span><br />
<span class="text-white text-xs">You have <%= total_stocks %> <%=@stock.symbol%> stocks in total.<br />You have <%= avail_stocks %> <%=@stock.symbol%> stocks to sell.</span>

<%= form_with model: @ask do |f| %>    
    <div>
        <%= f.number_field :stock_id, value: Stock.where(symbol: @stock.symbol)[0].id, type: :hidden %>
        <%= f.number_field :user_id, id: :user_id, class:"form-control", value: current_user.id, type: :hidden %>
        <div class="flex mt-2">
            <div class="text-white text-xs w-7/12"><%= f.label :number_of_stocks %></div>
            <div class="text-black text-xs w-5/12"> <%= f.number_field :number_of_stocks, in: 0..avail_stocks %></div>
        </div>

        <div class="flex mt-1">
            <div class="text-white text-xs w-7/12"><%= f.label :price %></div>
            <div class="text-black text-xs w-5/12"> <%= f.number_field :price, step: 0.01 %></div>
        </div>
        <%= f.hidden_field :sold, value: false %>
        <div class="bg-purple-800 rounded-full text-white text-xs text-center mt-2">   
        <%= f.submit "Place Ask" %>
        </div>
    </div>
<% end %>

</div>
<div class="bg-blue-900 w-full p-2.5 mx-auto h-40 text-white">
<span class="text-blue-200">BIDS FORM</span><br />
<span class="text-white text-xs">Your current balance is USD <%=current_user.balance %>.</span>

<%= form_with model: @bid do |f| %>    
    <div>
        <%= f.number_field :stock_id, value: Stock.where(symbol: @stock.symbol)[0].id, type: :hidden %>
        <%= f.number_field :user_id, id: :user_id, class:"form-control", value: current_user.id, type: :hidden %>
        <div class="flex mt-2">
            <div class="text-white text-xs w-7/12"><%= f.label :number_of_stocks %></div>
            <div class="text-black text-xs w-5/12"> <%= f.number_field :number_of_stocks %></div>
        </div>

        <div class="flex mt-1">
            <div class="text-white text-xs w-7/12"><%= f.label :price %></div>
            <div class="text-black text-xs w-5/12"> <%= f.number_field :price, step: 0.01 %></div>
        </div>
        <%= f.hidden_field :bought, value: false %>
        <div class="bg-blue-800 rounded-full text-white text-xs text-center mt-2">   
        <%= f.submit "Place Bid" %>
        </div>
    </div>
<% end %>

</div>
</div>