<%
ask_notice = ""
avail_stocks = 0
find_user = User.find(current_user.id).owned_stocks.where(stock_id: Stock.where(symbol: @stock.symbol)[0].id)[0]
if find_user != nil
    avail_stocks = find_user.number_of_stocks
    if avail_stocks == 0
        ask_notice = " (You do not have any stocks to sell.)"
    end
end
%>
<br />
<%=Stock.where(symbol: @stock.symbol)[0].id%>
ASKS FORM<%= ask_notice %>  

<%= form_with model: @ask do |f| %>    
    <div class ="flex">
        <%= f.number_field :stock_id, value: Stock.where(symbol: @stock.symbol)[0].id, type: :hidden %>
        <%= f.number_field :user_id, id: :user_id, class:"form-control", value: current_user.id, type: :hidden %>
        You have <%= avail_stocks %> stocks to sell.
        <div class="field">
            <%= f.label :number_of_stocks %>
            <%= f.number_field :number_of_stocks, in: 0..avail_stocks %>
        </div>
        <div class="field">
            <%= f.label :price %>
            <%= f.number_field :price, step: 0.01 %>
        </div>
        <%= f.hidden_field :sold, value: false %>
        <div>   
            <%= f.submit "asks" %>
        </div>
    </div>
<% end %>
<br />
BIDS FORM
<%= form_with model: @bid do |f| %>    
    <div class ="flex">

        <%= f.number_field :stock_id, value: Stock.where(symbol: @stock.symbol)[0].id, type: :hidden %>
        <%= f.number_field :user_id, id: :user_id, class:"form-control", value: current_user.id, type: :hidden %>
        <div class="field">
            <%= f.label :number_of_stocks %>
            <%= f.number_field :number_of_stocks %>
        </div>
        <div class="field">
            <%= f.label :price %>
            <%= f.number_field :price, step: 0.01 %>
        </div>
        <%= f.hidden_field :bought, value: false %>
        <div>   
            <%= f.submit "bids" %>
        </div>
    </div>
<% end %>
