<br />
ASKS FORM
<%= form_with model: @ask do |f| %>    
    <div class ="flex">

        <%= f.number_field :stock_id, value: Stock.where(symbol: @stock.symbol)[0].id, type: :hidden %>
        <%= f.number_field :user_id, id: :user_id, class:"form-control", value: current_user.id, type: :hidden %>
        <div class="field">
            <%= f.label :number_of_stocks %>
            <%= f.number_field :number_of_stocks %>
        </div>
        <div class="field">
            <%= f.label :price %>
            <%= f.number_field :price, step: 0.01 %>
        </div>
        <div class="field">
            <%= f.label :sold %>
            <%= f.check_box :sold %>
        </div>
        <%= f.hidden_field :sold, value: false %>
        <div>   
            <%= f.submit "asks" %>
        </div>
    </div>
<% end %>
<br />
BIDS FORM
<%= form_with model: @bid do |f| %>    
    <div class ="flex">

        <%= f.number_field :stock_id, value: Stock.where(symbol: @stock.symbol)[0].id, type: :hidden %>
        <%= f.number_field :user_id, id: :user_id, class:"form-control", value: current_user.id, type: :hidden %>
        <div class="field">
            <%= f.label :number_of_stocks %>
            <%= f.number_field :number_of_stocks %>
        </div>
        <div class="field">
            <%= f.label :price %>
            <%= f.number_field :price, step: 0.01 %>
        </div>
        <div class="field">
            <%= f.label :sold %>
            <%= f.check_box :sold %>
        </div>
        <%= f.hidden_field :bought, value: false %>
        <div>   
            <%= f.submit "bids" %>
        </div>
    </div>
<% end %>
