hiiii this is all users page
hi
<br />
<h1>all regular users</h1>
<ul>
<% @list_traders.each do |trader| %>
    <li>
    <%= trader.name %> <%= trader.surname %> | <%= trader.balance %>
    </li>
<% end %>
</ul>
<h1>all admins</h1>
<% @list_admins.each do |admin| %>
    <li>
    <%= admin.name %> <%= admin.surname %> | <%= admin.balance %>
    </li>
<% end %>
</ul>